{% extends 'base.html' %}

{% block title %}rules - TradeFuze{% endblock %}

{% block content %}
<div class="mt-8 flex justify-center">
    <!-- Heading -->
    <h1 class="text-2xl font-semibold text-gray-900">Rules</h1>
</div>

<!-- Centered Rules Section with Fixed Height and Scroll -->
<div class="mt-6 max-w-2xl mx-auto bg-blue-50 p-8 rounded-lg shadow-md" style="height: 460px; overflow-y: auto;">
    <!-- Rules Content with Bullet Points -->
    <ul class="list-disc pl-6 text-sm text-gray-700 space-y-4">
        <li>Always trade clean ranges, Donot force trade if its not a clean range, We will get one be patient</li>
        <li>Never trade if the range if less than 15points</li>
        <li>For trading patterns risk less amount compared to normal setups (not more than 2%)</li>
        <li>Every weekend see overall trades taken in week</li>
        <li>Never ever turn a winning trade into a lossing Trade, if you see problem close 80%</li>
        <li>For normal setups risk 4%, follow the plan we have made</li>
        <li>If a thought comes in your mind donot change your perception</li>
        <li>Your stops and entries must be according to the timeframe you are trading</li>
        <li>Maximum trades 2 per day, donot force trade even if you donot get a single one</li>
        <li>Don't break any rule please, and always trade your setups otherwise we will never succeed</li>
        
        
</div>
{% endblock %}
